{% extends 'base.html' %}

{% block Title %}Login{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <section class="sign-in">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == 25 %}
                        <div class="alert alert-success">{{message}}</div>
                    {% endif %}
                    {% if message.level == 40 %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="container mt-3">
                    <div class="container mt-3">
                        <div class="container">
                            <h2 class="text-center">Iniciar sesión</h2>
                            <form method="POST" class="register-form container " id="login-form">
                                <div class="mb-3 container">
                                    <label class="form-label" for="your_name"><i></i></label>
                                    <input type="text" name="username" id="your_name" placeholder="Usuario" class="form-control"/>
                                </div>
                                <div class="mb-3 container">
                                    <label class="form-label" for="your_pass"><i></i></label >
                                    <input type="password" name="password" id="your_pass" placeholder="Contraseña" class="form-control"/>
                                </div>

                                <div class="form-group form-button container d-flex justify-content-center flex-column" >
                                    <input type="submit" name="signin" id="signin" class="btn btn-primary mb-3" value="    Login    "/>
                                    <p class="d-block text-center fs-6">Create account Signin</p>
                                    <a href="{% url 'users:register' %}" class="btn btn-default text-primary">SignIn</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </section>
    </form>
{% endblock %}
