{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <h2 class="text-center mb-3 mt-5"> Register </h2>
            {% for item in form.visible_fields %}
                <div class="form-group container mb-3">
                    <label for="{{ item.id_for_label }}">{{ item.label }}</label>
                    {{ item }}
                    {% for error in field.error %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'users:login' %}" class="btn btn-light">Cancel<i class="fas fa-window-close"></i></a>
            </div>
        </form>
    </div>
{% endblock %}